@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#app {
  position: absolute;
  color: WHITE;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
}

button:hover {
  cursor: pointer;
}

button:active {
  transform: translateY(1px);
}